<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./assets/combined-01608a86.css"/>
	<meta charset='UTF-8'>
	<title>Countries &amp; Capitals</title>
</head>
<body ng-app="cncApp" ng-controller="appCtrl">
	<header>
		<div class="h1 text-center">Countries &amp; Capitals</div>
		<div><hr class="style"></div>
	</header>
	<div ui-view></div>
	<footer>
		<div class="h3 text-center">
			<p>
				<button type="button" class="btn btn-default" ng-hide="$state.current.name == 'home'" ng-click="$state.go('home')">Home</button>
				<button id="BrowseCountries" type="button" class="btn btn-default" ng-hide="$state.current.name == 'countries'" ng-click="$state.go('countries')">Browse Countries</button>
			</p>
		</div>
	</footer>
	<script src="./assets/combined-f26771f0.js"></script>
<!-- 	// <script type="text/javascript" src="./partials/countries/table-fixed-header.js"></script> -->
</body>
</html>