<div class="countainer row text-center">
	<p class="h1">{{country.countryName}}</p>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<p class="text-right">Population of Country:</p>
			<p class="text-right">Area:</p>
			<p class="text-right">Capital:</p>
			<p class="text-right">Population:</p>
			<p class="text-right">{{numNeighbors}} neighbors:</p>
		</div>
		<div class="col-xs-5">
			<p class="text-left">{{country.population | number}}</p>
			<p class="text-left">{{country.areaInSqKm | number}} square km</p>
			<p class="text-left"><a href="http://www.google.com/maps/place/{{capital.name}}">{{capital.name}}</a></p>
			<p class="text-left">{{capital.population | number}}</p>
			<p class="text-left">
				<span ng-repeat="neighbor in neighborList">
					<a ui-sref="countryDetail({countryCode: neighbor.countryCode})">{{neighbor.countryName}}</a><span ng-if=!$last>,</span> 
				</span>
			</p>
		</div>
	</div>
	<br><br>
	<div class="row">
        <div class="col-xs-1"></div>
		<div class="col-xs-5 fixed text-right">
			<a href="http://www.google.com/maps/place/{{country.countryName}}">
			<img ng-src="http://www.geonames.org/img/country/250/{{map}}.png"></a>
		</div>
		<div class="col-xs-6 fixed text-left">
			<img class="flag" ng-src="http://www.geonames.org/flags/x/{{flag}}.gif">
		</div>
	</div>
</div>