<div class="countainer row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div class="row">
			<p>Name</p>
			<div class="col-sm-6">
				<p class="text-right">Population of Country:</p>
				<p class="text-right">Area:</p>
				<p class="text-right">Capital:</p>
				<p class="text-right">Population:</p>
				<p class="text-right">n neighbors:</p>
			</div>
			<div class="col-sm-6">
				<p>1</p>
				<p>1 square km</p>
				<p>place</p>
				<p>1</p>
				<p>list</p>
			</div>
		</div>
		<div class="row text-center">
			country image    Flag
		</div>
	</div>
</div>